<div class="row">
    <div class="span8">
    <p id="notice"><%= notice %></p>
    <h3><%= @post.title %></h3>
	  <p><%= @post.content %>
	    <br>By: <%= @post.name %>
	    <br><hr>            
	    <h2>Comments</h2>
		<%= render @post.comments %>
	</div>
	<div class="span4">
		<h4>Add a comment:</h4>
		<%= render "comments/form" %>
	</div>
</div>

<br />

<%= link_to('Edit', edit_post_path(@post), :class => 'btn btn-mini')%> |
<%= link_to('Back', posts_path, :class => 'btn btn-mini') %>
